In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import tensorflow as tf
from tensorflow.keras import Sequential

In [2]:
dataset=pd.read_csv('E:/Churn_Modelling.csv')
dataset

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,9996,15606229,Obijiaku,771,France,Male,39,5,0.00,2,1,0,96270.64,0
9996,9997,15569892,Johnstone,516,France,Male,35,10,57369.61,1,1,1,101699.77,0
9997,9998,15584532,Liu,709,France,Female,36,7,0.00,1,0,1,42085.58,1
9998,9999,15682355,Sabbatini,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1
9999,10000,15628319,Walker,792,France,Female,28,4,130142.79,1,1,0,38190.78,0

In [3]:
x=dataset.iloc[:,3:13]
x

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary
0,619,France,Female,42,2,0.00,1,1,1,101348.88
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58
2,502,France,Female,42,8,159660.80,3,1,0,113931.57
3,699,France,Female,39,1,0.00,2,0,0,93826.63
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10
...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77
9997,709,France,Female,36,7,0.00,1,0,1,42085.58
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78

In [4]:
y=dataset.iloc[:,-1]
y

0       1
1       0
2       1
3       0
4       0
       ..
9995    0
9996    0
9997    1
9998    1
9999    0
Name: Exited, Length: 10000, dtype: int64

In [5]:
geography=pd.get_dummies(x['Geography'],drop_first=True)
gender=pd.get_dummies(x['Gender'],drop_first=True)

In [6]:
X=pd.concat([x,geography,gender],axis=1)
X

,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,France,Female,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,France,Female,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,France,Female,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...
9995,771,France,Male,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,France,Male,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,France,Female,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,Germany,Male,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,France,Female,28,4,130142.79,1,1,0,38190.78,0,0,0

In [7]:
X=X.drop(['Geography','Gender'],axis=1)
X

,CreditScore,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Germany,Spain,Male
0,619,42,2,0.00,1,1,1,101348.88,0,0,0
1,608,41,1,83807.86,1,0,1,112542.58,0,1,0
2,502,42,8,159660.80,3,1,0,113931.57,0,0,0
3,699,39,1,0.00,2,0,0,93826.63,0,0,0
4,850,43,2,125510.82,1,1,1,79084.10,0,1,0
...,...,...,...,...,...,...,...,...,...,...,...
9995,771,39,5,0.00,2,1,0,96270.64,0,0,1
9996,516,35,10,57369.61,1,1,1,101699.77,0,0,1
9997,709,36,7,0.00,1,0,1,42085.58,0,0,0
9998,772,42,3,75075.31,2,1,0,92888.52,1,0,1
9999,792,28,4,130142.79,1,1,0,38190.78,0,0,0

In [8]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.2,random_state=0)

In [9]:
from sklearn.preprocessing import StandardScaler
ss=StandardScaler()
model=ss.fit_transform(X)

In [10]:
import keras
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense
from tensorflow.keras.layers import Dropout

In [11]:
se=Sequential()
se.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu',input_dim=11))
se.add(Dense(units=6,kernel_initializer='he_uniform',activation='relu'))
se.add(Dense(units=1,kernel_initializer='glorot_uniform',activation='sigmoid'))
se.compile(optimizer='Adamax',loss='binary_crossentropy',metrics=['accuracy'])
ann=se.fit(X_train, y_train, validation_split=0.33 ,batch_size=10, epochs=100)

Epoch 1/100
536/536 [==============================] - 1s 1ms/step - loss: 12881.8262 - accuracy: 0.2974 - val_loss: 1256.0441 - val_accuracy: 0.4820
Epoch 2/100
536/536 [==============================] - 0s 929us/step - loss: 248.2003 - accuracy: 0.6223 - val_loss: 15.1711 - val_accuracy: 0.7296
Epoch 3/100
536/536 [==============================] - 1s 1ms/step - loss: 7.0981 - accuracy: 0.7332 - val_loss: 7.1596 - val_accuracy: 0.7815
Epoch 4/100
536/536 [==============================] - 1s 2ms/step - loss: 3.0819 - accuracy: 0.7611 - val_loss: 2.5723 - val_accuracy: 0.7213
Epoch 5/100
536/536 [==============================] - 1s 2ms/step - loss: 2.0794 - accuracy: 0.7587 - val_loss: 1.4723 - val_accuracy: 0.7887
Epoch 6/100
536/536 [==============================] - 1s 935us/step - loss: 1.5885 - accuracy: 0.7643 - val_loss: 1.3670 - val_accuracy: 0.7906
Epoch 7/100
536/536 [==============================] - 1s 968us/step - loss: 1.6571 - accuracy: 0.7662 - val_loss: 1.4702 - val_accuracy: 0.7902
Epoch 8/100
536/536 [==============================] - 1s 1ms/step - loss: 1.4105 - accuracy: 0.7681 - val_loss: 0.7982 - val_accuracy: 0.7429
Epoch 9/100
536/536 [==============================] - 1s 1ms/step - loss: 1.6760 - accuracy: 0.7651 - val_loss: 0.9094 - val_accuracy: 0.7925
Epoch 10/100
536/536 [==============================] - 1s 2ms/step - loss: 1.3629 - accuracy: 0.7695 - val_loss: 0.6580 - val_accuracy: 0.7603
Epoch 11/100
536/536 [==============================] - 1s 2ms/step - loss: 1.4552 - accuracy: 0.7690 - val_loss: 1.4001 - val_accuracy: 0.7952
Epoch 12/100
536/536 [==============================] - 1s 2ms/step - loss: 1.3274 - accuracy: 0.7677 - val_loss: 1.3586 - val_accuracy: 0.7952
Epoch 13/100
536/536 [==============================] - 1s 1ms/step - loss: 1.3183 - accuracy: 0.7716 - val_loss: 0.7713 - val_accuracy: 0.7940
Epoch 14/100
536/536 [==============================] - 1s 1ms/step - loss: 1.3757 - accuracy: 0.7673 - val_loss: 1.4738 - val_accuracy: 0.7948
Epoch 15/100
536/536 [==============================] - 1s 2ms/step - loss: 1.2468 - accuracy: 0.7684 - val_loss: 1.0599 - val_accuracy: 0.6308
Epoch 16/100
536/536 [==============================] - 1s 2ms/step - loss: 1.1553 - accuracy: 0.7705 - val_loss: 0.9946 - val_accuracy: 0.7948
Epoch 17/100
536/536 [==============================] - 1s 2ms/step - loss: 1.1735 - accuracy: 0.7709 - val_loss: 0.9693 - val_accuracy: 0.7948
Epoch 18/100
536/536 [==============================] - 1s 1ms/step - loss: 1.1901 - accuracy: 0.7688 - val_loss: 1.1666 - val_accuracy: 0.6335
Epoch 19/100
536/536 [==============================] - 0s 894us/step - loss: 1.1412 - accuracy: 0.7733 - val_loss: 0.6770 - val_accuracy: 0.7952
Epoch 20/100
536/536 [==============================] - 0s 904us/step - loss: 1.0522 - accuracy: 0.7740 - val_loss: 0.9871 - val_accuracy: 0.6626
Epoch 21/100
536/536 [==============================] - 0s 929us/step - loss: 0.9368 - accuracy: 0.7705 - val_loss: 0.7576 - val_accuracy: 0.7955
Epoch 22/100
536/536 [==============================] - 1s 1ms/step - loss: 0.8453 - accuracy: 0.7744 - val_loss: 0.7950 - val_accuracy: 0.7955
Epoch 23/100
536/536 [==============================] - 1s 2ms/step - loss: 1.0321 - accuracy: 0.7714 - val_loss: 0.8581 - val_accuracy: 0.7948
Epoch 24/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9540 - accuracy: 0.7727 - val_loss: 1.6708 - val_accuracy: 0.7959
Epoch 25/100
536/536 [==============================] - 1s 1ms/step - loss: 0.8779 - accuracy: 0.7723 - val_loss: 0.7100 - val_accuracy: 0.7959
Epoch 26/100
536/536 [==============================] - 0s 914us/step - loss: 1.0714 - accuracy: 0.7699 - val_loss: 0.7278 - val_accuracy: 0.7948
Epoch 27/100
536/536 [==============================] - 0s 932us/step - loss: 0.9750 - accuracy: 0.7742 - val_loss: 0.6232 - val_accuracy: 0.7952
Epoch 28/100
536/536 [==============================] - 0s 901us/step - loss: 0.7939 - accuracy: 0.7776 - val_loss: 0.5893 - val_accuracy: 0.7952
Epoch 29/100
536/536 [==============================] - 1s 1ms/step - loss: 0.8519 - accuracy: 0.7705 - val_loss: 0.8043 - val_accuracy: 0.7952
Epoch 30/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8576 - accuracy: 0.7737 - val_loss: 0.8873 - val_accuracy: 0.6823
Epoch 31/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8308 - accuracy: 0.7729 - val_loss: 1.1364 - val_accuracy: 0.7955
Epoch 32/100
536/536 [==============================] - 1s 2ms/step - loss: 0.9219 - accuracy: 0.7720 - val_loss: 0.5559 - val_accuracy: 0.7952
Epoch 33/100
536/536 [==============================] - 1s 1ms/step - loss: 0.7884 - accuracy: 0.7742 - val_loss: 0.8644 - val_accuracy: 0.7955
Epoch 34/100
536/536 [==============================] - 1s 1ms/step - loss: 0.7705 - accuracy: 0.7744 - val_loss: 0.8973 - val_accuracy: 0.7952
Epoch 35/100
536/536 [==============================] - 1s 1ms/step - loss: 0.9677 - accuracy: 0.7720 - val_loss: 0.6670 - val_accuracy: 0.7948
Epoch 36/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8023 - accuracy: 0.7718 - val_loss: 0.6778 - val_accuracy: 0.7944
Epoch 37/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8413 - accuracy: 0.7759 - val_loss: 0.9899 - val_accuracy: 0.7948
Epoch 38/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8398 - accuracy: 0.7723 - val_loss: 1.1788 - val_accuracy: 0.7959
Epoch 39/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8784 - accuracy: 0.7723 - val_loss: 1.9494 - val_accuracy: 0.7959
Epoch 40/100
536/536 [==============================] - 1s 2ms/step - loss: 0.7936 - accuracy: 0.7725 - val_loss: 0.7157 - val_accuracy: 0.7300
Epoch 41/100
536/536 [==============================] - 1s 2ms/step - loss: 0.8018 - accuracy: 0.7727 - val_loss: 0.6627 - val_accuracy: 0.7936
Epoch 42/100
536/536 [==============================] - 0s 900us/step - loss: 0.7614 - accuracy: 0.7770 - val_loss: 0.5210 - val_accuracy: 0.7955
Epoch 43/100
536/536 [==============================] - 0s 918us/step - loss: 0.7485 - accuracy: 0.7755 - val_loss: 1.0499 - val_accuracy: 0.5979
Epoch 44/100
536/536 [==============================] - 0s 874us/step - loss: 0.7488 - accuracy: 0.7811 - val_loss: 0.9291 - val_accuracy: 0.7955
Epoch 45/100
536/536 [==============================] - 1s 1ms/step - loss: 0.8026 - accuracy: 0.7744 - val_loss: 0.7455 - val_accuracy: 0.7929
Epoch 46/100
536/536 [==============================] - 1s 2ms/step - loss: 0.7556 - accuracy: 0.7750 - val_loss: 0.6832 - val_accuracy: 0.7948
Epoch 47/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6699 - accuracy: 0.7785 - val_loss: 0.7277 - val_accuracy: 0.7933
Epoch 48/100
536/536 [==============================] - 1s 2ms/step - loss: 0.7859 - accuracy: 0.7765 - val_loss: 1.9250 - val_accuracy: 0.7933
Epoch 49/100
536/536 [==============================] - 1s 1ms/step - loss: 0.7192 - accuracy: 0.7800 - val_loss: 1.1362 - val_accuracy: 0.7936
Epoch 50/100
536/536 [==============================] - 1s 1ms/step - loss: 0.7441 - accuracy: 0.7761 - val_loss: 0.6124 - val_accuracy: 0.7808
Epoch 51/100
536/536 [==============================] - 1s 2ms/step - loss: 0.7611 - accuracy: 0.7774 - val_loss: 0.5911 - val_accuracy: 0.7936
Epoch 52/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6631 - accuracy: 0.7787 - val_loss: 0.7185 - val_accuracy: 0.6467
Epoch 53/100
536/536 [==============================] - 1s 2ms/step - loss: 0.7905 - accuracy: 0.7716 - val_loss: 0.5723 - val_accuracy: 0.7914
Epoch 54/100
536/536 [==============================] - 1s 2ms/step - loss: 0.7190 - accuracy: 0.7772 - val_loss: 0.7637 - val_accuracy: 0.7100
Epoch 55/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6481 - accuracy: 0.7791 - val_loss: 0.9667 - val_accuracy: 0.6100
Epoch 56/100
536/536 [==============================] - 1s 2ms/step - loss: 0.7516 - accuracy: 0.7714 - val_loss: 0.5704 - val_accuracy: 0.7948
Epoch 57/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6382 - accuracy: 0.7791 - val_loss: 0.9620 - val_accuracy: 0.7952

Epoch 58/100
536/536 [==============================] - 0s 904us/step - loss: 0.6813 - accuracy: 0.7755 - val_loss: 1.2575 - val_accuracy: 0.7952
Epoch 59/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5915 - accuracy: 0.7837 - val_loss: 0.5827 - val_accuracy: 0.7955
Epoch 60/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6253 - accuracy: 0.7787 - val_loss: 0.6734 - val_accuracy: 0.7955
Epoch 61/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6001 - accuracy: 0.7789 - val_loss: 0.6087 - val_accuracy: 0.7955
Epoch 62/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6447 - accuracy: 0.7789 - val_loss: 0.5184 - val_accuracy: 0.7959
Epoch 63/100
536/536 [==============================] - 1s 1ms/step - loss: 0.6444 - accuracy: 0.7813 - val_loss: 0.5624 - val_accuracy: 0.7959
Epoch 64/100
536/536 [==============================] - 1s 939us/step - loss: 0.5922 - accuracy: 0.7811 - val_loss: 0.5245 - val_accuracy: 0.7955
Epoch 65/100
536/536 [==============================] - 0s 813us/step - loss: 0.6140 - accuracy: 0.7834 - val_loss: 0.6307 - val_accuracy: 0.7959
Epoch 66/100
536/536 [==============================] - 0s 837us/step - loss: 0.6479 - accuracy: 0.7783 - val_loss: 0.5095 - val_accuracy: 0.7959
Epoch 67/100
536/536 [==============================] - 1s 1ms/step - loss: 0.6206 - accuracy: 0.7811 - val_loss: 0.5085 - val_accuracy: 0.7959
Epoch 68/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6000 - accuracy: 0.7834 - val_loss: 0.4965 - val_accuracy: 0.7963
Epoch 69/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6186 - accuracy: 0.7794 - val_loss: 0.5608 - val_accuracy: 0.7963
Epoch 70/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5742 - accuracy: 0.7847 - val_loss: 0.6270 - val_accuracy: 0.7963
Epoch 71/100
536/536 [==============================] - 0s 872us/step - loss: 0.6040 - accuracy: 0.7800 - val_loss: 0.5722 - val_accuracy: 0.7959
Epoch 72/100
536/536 [==============================] - 1s 977us/step - loss: 0.6019 - accuracy: 0.7824 - val_loss: 0.5293 - val_accuracy: 0.7959
Epoch 73/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6305 - accuracy: 0.7813 - val_loss: 0.5368 - val_accuracy: 0.7959
Epoch 74/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5933 - accuracy: 0.7826 - val_loss: 0.5552 - val_accuracy: 0.7509
Epoch 75/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6250 - accuracy: 0.7807 - val_loss: 0.5538 - val_accuracy: 0.7463
Epoch 76/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5834 - accuracy: 0.7807 - val_loss: 0.4957 - val_accuracy: 0.7963
Epoch 77/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5911 - accuracy: 0.7828 - val_loss: 0.5724 - val_accuracy: 0.7963
Epoch 78/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5668 - accuracy: 0.7850 - val_loss: 0.7177 - val_accuracy: 0.7963
Epoch 79/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5771 - accuracy: 0.7847 - val_loss: 0.8825 - val_accuracy: 0.7963
Epoch 80/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6661 - accuracy: 0.7802 - val_loss: 0.6127 - val_accuracy: 0.6804
Epoch 81/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6028 - accuracy: 0.7813 - val_loss: 0.5971 - val_accuracy: 0.7963
Epoch 82/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5589 - accuracy: 0.7850 - val_loss: 0.6942 - val_accuracy: 0.6429
Epoch 83/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5620 - accuracy: 0.7852 - val_loss: 0.5430 - val_accuracy: 0.7963
Epoch 84/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5985 - accuracy: 0.7830 - val_loss: 0.5156 - val_accuracy: 0.7963
Epoch 85/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6407 - accuracy: 0.7791 - val_loss: 0.7995 - val_accuracy: 0.7963
Epoch 86/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6111 - accuracy: 0.7826 - val_loss: 1.0609 - val_accuracy: 0.7963
Epoch 87/100
536/536 [==============================] - 1s 1ms/step - loss: 0.6033 - accuracy: 0.7850 - val_loss: 0.5297 - val_accuracy: 0.7933
Epoch 88/100
536/536 [==============================] - 0s 877us/step - loss: 0.5545 - accuracy: 0.7850 - val_loss: 0.9850 - val_accuracy: 0.7963
Epoch 89/100
536/536 [==============================] - 0s 865us/step - loss: 0.5819 - accuracy: 0.7847 - val_loss: 0.4960 - val_accuracy: 0.7963
Epoch 90/100
536/536 [==============================] - 0s 821us/step - loss: 0.5913 - accuracy: 0.7815 - val_loss: 0.4943 - val_accuracy: 0.7963
Epoch 91/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5746 - accuracy: 0.7839 - val_loss: 0.5075 - val_accuracy: 0.7963
Epoch 92/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5518 - accuracy: 0.7860 - val_loss: 0.4953 - val_accuracy: 0.7963
Epoch 93/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5854 - accuracy: 0.7835 - val_loss: 0.6072 - val_accuracy: 0.7963
Epoch 94/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5841 - accuracy: 0.7852 - val_loss: 0.5068 - val_accuracy: 0.7963
Epoch 95/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5679 - accuracy: 0.7862 - val_loss: 0.5322 - val_accuracy: 0.7963
Epoch 96/100
536/536 [==============================] - 1s 1ms/step - loss: 0.5629 - accuracy: 0.7847 - val_loss: 0.5635 - val_accuracy: 0.7963
Epoch 97/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5396 - accuracy: 0.7882 - val_loss: 0.5277 - val_accuracy: 0.7917
Epoch 98/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5462 - accuracy: 0.7856 - val_loss: 0.4974 - val_accuracy: 0.7963
Epoch 99/100
536/536 [==============================] - 1s 2ms/step - loss: 0.5469 - accuracy: 0.7880 - val_loss: 0.5105 - val_accuracy: 0.7955
Epoch 100/100
536/536 [==============================] - 1s 2ms/step - loss: 0.6026 - accuracy: 0.7847 - val_loss: 0.6286 - val_accuracy: 0.7963

In [12]:
y_pred=se.predict(X_test)
y_pred=(y_pred>0.5)

In [14]:
from sklearn.metrics import confusion_matrix
cm=confusion_matrix(y_test,y_pred)
cm

array([[1595,    0],
       [ 404,    1]], dtype=int64)

In [15]:
from sklearn.metrics import accuracy_score
ac=accuracy_score(y_pred,y_test)
ac

0.798